<div class="ui tablet computer only padded grid">
  <div id="nav" class="ui inverted borderless top fixed fluid menu massive">
    <div class="ui container">
      {{#link-to "index" class="header item"}}
        The Nile
      {{/link-to}}
      <div class="right menu">
        {{#if session.isAuthenticated}}
          <a href="" class="item">Upload</a>
          <a href="" class="item">My-Channel</a>
          <a href="" role="button" class="item" {{action "invalidate"}}>
            <button class="ui inverted circular button">Logout</button>
          </a>
          <a href="" class="item">About</a>
        {{else}}
          {{#link-to "login" class="item"}}
            Login
          {{/link-to}}
          {{#link-to "sign-up" class="item"}}
            Sign Up
          {{/link-to}}
          {{#link-to "about" class="item"}}
            About
          {{/link-to}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
<div class="ui mobile only padded grid">
  <div id="nav" class="ui bottom fixed borderless fluid inverted labeled three item icon menu">
    {{#if session.isAuthenticated}}
      {{#link-to "index" class="item"}}
        <i class="fas fa-home fa-2x"></i>
        Home
      {{/link-to}}
      {{#link-to "upload" class="item"}}
        <i class="fas fa-upload fa-2x"></i>
        Upload
      {{/link-to}}
      {{#link-to "my-account" class="item"}}
        <i class="fas fa-user fa-2x"></i>
        My Account
      {{/link-to}}
    {{else}}
      {{#link-to "index" class="item"}}
        <i class="fas fa-home fa-2x"></i>
        Home
      {{/link-to}}
      {{#link-to "login" class="item"}}
        <i class="fas fa-sign-in-alt fa-2x"></i>
         Login
      {{/link-to}}
      {{#link-to "sign-up" class="item"}}
        <i class="fas fa-user-plus fa-2x"></i>
        Sign Up
      {{/link-to}}
    {{/if}}
  </div>
</div>
<br>
<br>
<br>
<div class="ui container">
  {{outlet}}
</div>
<div class="ui tablet computer only padded grid">
  <footer>
    <div class="ui container"><p>©2019 Made by <a href="https://zubeirtech.firebaseapp.com">ZubeirTech</a> </p></div>
  </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script>
  $(document).ready(function() {
    $(".ui.toggle.button").click(function() {
      $(".mobile.only.grid .ui.vertical.menu").toggle(100);
    });
  });
</script>