<div class="ui tablet computer only padded grid">
  <div class="ui inverted borderless top fixed fluid menu massive">
    <div class="ui container">
      <a class="header item">Project name</a>
      <div class="right menu">
        <a class="item">Dashboard</a> <a class="item">Settings</a>
        <a class="item">Profile</a> <a class="item">Help</a>
      </div>
    </div>
  </div>
</div>
<div class="ui mobile only padded grid">
  <div class="ui bottom fixed borderless fluid inverted five item icon menu">
    <a class="item">
      <i class="gamepad icon"></i>
    </a>
    <a class="item">
      <i class="video camera icon"></i>
    </a>
    <a class="item">
      <i class="video play icon"></i>
    </a>
    <a class="item">
      <i class="video play icon"></i>
    </a>
    <a class="item">
      <i class="video play icon"></i>
    </a>
  </div>
</div>
<br>
<br>
<br>
<div class="ui container">
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script>
  $(document).ready(function() {
    $(".ui.toggle.button").click(function() {
      $(".mobile.only.grid .ui.vertical.menu").toggle(100);
    });
  });
</script>